header {
    text-align: center;
    padding: 20px;
    background-color: rgb(212, 210, 210);
    box-sizing: border-box;
    width: 1247px;
    height: 20px;
    border: 6px;
    padding: 20px;
}

footer {
    background-color: rgb(212, 210, 210);
    right: 308px;
    left: 884px;
    top: 65px;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
    width: 1247px;
}

main {
    width: 1500px;
    height: 350px;
}
.content {
    background-color: rgb(253, 253, 195);
    box-sizing: border-box;
    width: 1000px;
    height: 350px;
    border: 6px;
    padding: 20px;
}

.side {
    display: inherit;
    position: absolute;
    right: 300px;
    left: 884px;
    top: 65px;
    bottom: 30px;
    background-color: rgb(130, 201, 130);
    padding: 1px;
    flex: 2;
    height: 330px;
    box-sizing: border-box;
    width: 370px;
    text-align: center;
    margin: 2px;
    border: 6px;
}

.flex-container:not(#mainpart) {
    display: flex;
    justify-content: space-between;
}

.f1 {
    box-sizing: border-box;
    border: 6px;
    padding: 20px;
    margin: 20px;
    background-color: white;
    width: 200px;
    height: 60px;
}

.flex-container:not(#r) {
display: inline-flex;
flex-direction: row;
justify-content: flex-end;
}

.f2 {
    box-sizing: border-box;
    border: 6px;
    padding: 6px;
    margin: 6px;
    width: 300px;
    padding: 20px;
    height: 100px;
    background-color: rgb(228, 216, 115);
}

.down{
box-sizing: border-box;
border: 6px;
padding: 6px;
margin-left: 80px;
width: 500px;
padding: 20px;
height: 100px;
background-color: rgb(228, 216, 115);}

article {
    background-color: rgb(253, 253, 195);
    width: 1247px;
    text-align: center;
}

